:root{
    --primary-color: #1B262C;
    --secondary-color: #0F4C75;
    --third-color: #3282B8;
    --fourth-color: #BBE1FA;
    --text-color: #eeee;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--text-color)
}

.content {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

/* Sidebar */
.sideBar {
    width: 350px;
    background: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-shadow: 0 8px 32px inset var(--primary-color);
}

.Profiile {
    width: 220px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 8px 32px var(--secondary-color);
    
    margin-bottom: 50px;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: center;
}

nav ul li {
    margin: 90px 0;
    margin-top: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 28px;
    font-style: italic;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover {
   color: var(--fourth-color);
}
.icons img{
    margin: 5px;
    cursor: pointer;
}

/* Main Content */
.introductioncontent {
    flex: 1;
    background: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
}

.introductioncontent h1 {
    font-size: 80px;
    font-style: italic;
    font-weight: 800;
    color: #1f2734;
}

.introductioncontent h1 span {
    color: #1f2734;
}

.introductioncontent h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #444;
    margin-bottom: 40px;
}

.introductioncontent p {
    max-width: 900px;
    font-size: 28px;
    font-style: italic;
    color: #333;
    margin-bottom: 40px;
}

/* Skills */
.skills-tools {
    display: flex;
    gap: 60px;
    font-size: 60px;
    margin-bottom: 50px;
}

.html {
    width: 60px;
}

.css {
    width: 60px;
}

.js {
    width: 60px;
}

.github {
    width: 60px;
}

.git {
   width: 60px;
}

.vscode {
    width: 60px;
}

.canva {
    width: 60px;
}
.figma{
    width: 60px;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 100px;
}

.hire, .email {
    text-decoration: none;
    background: #1f2734;
    color: var(--text-color);
    padding: 18px 50px;
    border-radius: 15px;
    font-size: 28px;
    font-style: italic;
    transition: 0.3s;
}

.hire:hover, .email:hover{
    background: #00bcd4;
}

/* Responsive */
@media (max-width: 900px) {
    .content {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .introductioncontent h1 {
        font-size: 40px;
    }

    .introductioncontent h3 {
        font-size: 18px;
    }

    .introductioncontent p {
        font-size: 18px;
    }

    .skills-tools {
        font-size: 35px;
        flex-wrap: wrap;
    }

    .buttons {
        flex-direction: column;
        gap: 20px;
    }
}